%cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%wrapper-177 {
  margin: auto;
  width: 177.1rem;

  @include media('<=phone') {
    width: calc(100% - 6rem);
  }
}
